In [58]:
import pandas as pd
import yfinance as yf
import numpy as np

In [59]:
ticker = 'RELIANCE'
data = yf.download('^NSEBANK')
data = data.reset_index()
data['Date'] = pd.to_datetime(data['Date'])
data

[*********************100%%**********************]  1 of 1 completed

,Date,Open,High,Low,Close,Adj Close,Volume
0,2007-09-17,6898.000000,6977.200195,6843.000000,6897.100098,6897.020020,0
1,2007-09-18,6921.149902,7078.950195,6883.600098,7059.649902,7059.567871,0
2,2007-09-19,7111.000000,7419.350098,7111.000000,7401.850098,7401.764160,0
3,2007-09-20,7404.950195,7462.899902,7343.600098,7390.149902,7390.063965,0
4,2007-09-21,7378.299805,7506.350098,7367.149902,7464.500000,7464.413086,0
...,...,...,...,...,...,...,...
3859,2024-07-30,51383.898438,51957.750000,51260.050781,51499.300781,51499.300781,235200
3860,2024-07-31,51583.449219,51663.101562,51335.699219,51553.398438,51553.398438,219000
3861,2024-08-01,51672.601562,51877.148438,51456.199219,51564.000000,51564.000000,156400
3862,2024-08-02,51172.250000,51608.699219,51087.851562,51350.148438,51350.148438,163000
3863,2024-08-05,50586.250000,50747.550781,49719.101562,50092.101562,50092.101562,0

In [60]:
# Keeping necessary columns
data = data[['Date', 'Open', 'High', 'Low', 'Close']]

In [61]:
# Calculating Daily Return Percentage
data['Return%'] = data['Close'].pct_change() * 100
data

C:\Users\Admin\AppData\Local\Temp\ipykernel_26452\1092216044.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Return%'] = data['Close'].pct_change() * 100

,Date,Open,High,Low,Close,Return%
0,2007-09-17,6898.000000,6977.200195,6843.000000,6897.100098,NaN
1,2007-09-18,6921.149902,7078.950195,6883.600098,7059.649902,2.356785
2,2007-09-19,7111.000000,7419.350098,7111.000000,7401.850098,4.847269
3,2007-09-20,7404.950195,7462.899902,7343.600098,7390.149902,-0.158071
4,2007-09-21,7378.299805,7506.350098,7367.149902,7464.500000,1.006070
...,...,...,...,...,...,...
3859,2024-07-30,51383.898438,51957.750000,51260.050781,51499.300781,0.181011
3860,2024-07-31,51583.449219,51663.101562,51335.699219,51553.398438,0.105045
3861,2024-08-01,51672.601562,51877.148438,51456.199219,51564.000000,0.020564
3862,2024-08-02,51172.250000,51608.699219,51087.851562,51350.148438,-0.414730
3863,2024-08-05,50586.250000,50747.550781,49719.101562,50092.101562,-2.449938

In [62]:
# Calculating Moving Averages
data['MovingAvg7'] = data['Close'].rolling(window=7).mean()
data['MovingAvg14'] = data['Close'].rolling(window=14).mean()
data['MovingAvg30'] = data['Close'].rolling(window=30).mean()

data.tail()

,Date,Open,High,Low,Close,Return%,MovingAvg7,MovingAvg14,MovingAvg30
3859,2024-07-30,51383.898438,51957.750000,51260.050781,51499.300781,0.181011,51495.135603,51924.556920,52105.073307
3860,2024-07-31,51583.449219,51663.101562,51335.699219,51553.398438,0.105045,51391.278460,51879.135324,52142.156641
3861,2024-08-01,51672.601562,51877.148438,51456.199219,51564.000000,0.020564,51360.664062,51828.660435,52147.688281
3862,2024-08-02,51172.250000,51608.699219,51087.851562,51350.148438,-0.414730,51365.399554,51762.321150,52133.251563
3863,2024-08-05,50586.250000,50747.550781,49719.101562,50092.101562,-2.449938,51251.592634,51593.478516,52080.939974

In [63]:
# Generating signals
data['Signal'] = 0

for i in range(len(data)-2):
        # 1 corresponds to buy and -1 corresponds to sell
        if data.loc[i, 'Close'] > data.loc[i, 'MovingAvg30']:
            data.loc[i+1, 'Signal'] = 1
        elif data.loc[i, 'Close'] < data.loc[i, 'MovingAvg30']:
            data.loc[i+1, 'Signal'] = -1

data

,Date,Open,High,Low,Close,Return%,MovingAvg7,MovingAvg14,MovingAvg30,Signal
0,2007-09-17,6898.000000,6977.200195,6843.000000,6897.100098,NaN,NaN,NaN,NaN,0
1,2007-09-18,6921.149902,7078.950195,6883.600098,7059.649902,2.356785,NaN,NaN,NaN,0
2,2007-09-19,7111.000000,7419.350098,7111.000000,7401.850098,4.847269,NaN,NaN,NaN,0
3,2007-09-20,7404.950195,7462.899902,7343.600098,7390.149902,-0.158071,NaN,NaN,NaN,0
4,2007-09-21,7378.299805,7506.350098,7367.149902,7464.500000,1.006070,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...
3859,2024-07-30,51383.898438,51957.750000,51260.050781,51499.300781,0.181011,51495.135603,51924.556920,52105.073307,-1
3860,2024-07-31,51583.449219,51663.101562,51335.699219,51553.398438,0.105045,51391.278460,51879.135324,52142.156641,-1
3861,2024-08-01,51672.601562,51877.148438,51456.199219,51564.000000,0.020564,51360.664062,51828.660435,52147.688281,-1
3862,2024-08-02,51172.250000,51608.699219,51087.851562,51350.148438,-0.414730,51365.399554,51762.321150,52133.251563,-1
3863,2024-08-05,50586.250000,50747.550781,49719.101562,50092.101562,-2.449938,51251.592634,51593.478516,52080.939974,0

### If a signal is generated today then the entry is made on opening price of the next day opening and exited if the opposite signal is given while making a position simultaneously

In [64]:
i = 0
while i < len(data):
    j = i
    if data.loc[i, 'Signal'] == 1:
        
        # Adding the entry price and date in a new column if buy signal is given
        data.loc[i, 'Entry'] = data.loc[i, 'Open']
        data.loc[i, 'Entry Date'] = data.loc[i, 'Date']
        
        for j in range(i+1, len(data)):
            if data.loc[j, 'Signal'] == -1:
                
                # Adding the exit price and date in a new column if sell signal is given
                data.loc[i, 'Exit'] = data.loc[j, 'Open']
                data.loc[i, 'Exit Date'] = data.loc[j, 'Date']
                break
        i = j

    elif data.loc[i, 'Signal'] == -1:
        
        # Adding the entry price and date in a new column if sell signal is given
        data.loc[i, 'Entry'] = data.loc[i, 'Open']
        data.loc[i, 'Entry Date'] = data.loc[i, 'Date']
        
        for j in range(i+1, len(data)):
            if data.loc[j, 'Signal'] == 1:

                # Adding the exit price and date in a new column if buy signal is given
                data.loc[i, 'Exit'] = data.loc[j, 'Open']
                data.loc[i, 'Exit Date'] = data.loc[j, 'Date']
                break
        i = j

    elif data.loc[i, 'Signal'] == 0:
        i += 1

print(f"Entry prices:\n{data[data['Entry'].notna()]}")
print(f"\nExit price:{data[data['Exit'].notna()]}")

Entry prices:
           Date          Open          High           Low         Close  \
30   2007-10-30   9024.549805   9237.799805   8832.500000   8934.150391
65   2007-12-19   9363.950195   9446.000000   9125.450195   9240.349609
68   2007-12-26   9545.700195   9772.000000   9545.700195   9755.200195
86   2008-01-21   9671.400391   9701.099609   8504.650391   9038.950195
92   2008-01-29   9933.200195  10113.349609   9420.750000   9569.599609
...         ...           ...           ...           ...           ...
3804 2024-05-09  47976.351562  48258.648438  47440.648438  47487.898438
3814 2024-05-24  48668.000000  49052.949219  48644.800781  48971.648438
3822 2024-06-05  47486.601562  49362.898438  46446.800781  49054.601562
3823 2024-06-06  49426.398438  49672.750000  48906.750000  49291.898438
3855 2024-07-24  51657.648438  51944.648438  50784.250000  51317.000000

       Return%    MovingAvg7   MovingAvg14   MovingAvg30  Signal  \
30   -0.739934   8430.171666   8212.496512   7957.411686       1
65   -0.418685   9688.178711   9629.985700   9363.846680      -1
68    2.003967   9473.371512   9660.257185   9425.165007       1
86   -7.196688  10158.985770  10215.546387   9948.063314      -1
92   -3.355929   9334.028599   9834.214286   9840.314974       1
...        ...           ...           ...           ...     ...
3804 -1.110352  48605.857701  48429.967913  48062.891797      -1
3814  0.416348  48192.935268  48076.775112  48233.798438       1
3822  4.530286  48896.136161  48658.417969  48482.015234      -1
3823  0.483740  48917.529018  48752.335658  48526.063542       1
3855 -0.890915  52159.242746  52329.442801  51917.050000      -1

             Entry Entry Date          Exit  Exit Date
30     9024.549805 2007-10-30   9363.950195 2007-12-19
65     9363.950195 2007-12-19   9545.700195 2007-12-26
68     9545.700195 2007-12-26   9671.400391 2008-01-21
86     9671.400391 2008-01-21   9933.200195 2008-01-29
92     9933.200195 2008-01-29   9635.349609 2008-01-30
...            ...        ...           ...        ...
3804  47976.351562 2024-05-09  48668.000000 2024-05-24
3814  48668.000000 2024-05-24  47486.601562 2024-06-05
3822  47486.601562 2024-06-05  49426.398438 2024-06-06
3823  49426.398438 2024-06-06  51657.648438 2024-07-24
3855  51657.648438 2024-07-24           NaN        NaT

[312 rows x 14 columns]

Exit price:           Date          Open          High           Low         Close  \
30   2007-10-30   9024.549805   9237.799805   8832.500000   8934.150391
65   2007-12-19   9363.950195   9446.000000   9125.450195   9240.349609
68   2007-12-26   9545.700195   9772.000000   9545.700195   9755.200195
86   2008-01-21   9671.400391   9701.099609   8504.650391   9038.950195
92   2008-01-29   9933.200195  10113.349609   9420.750000   9569.599609
...         ...           ...           ...           ...           ...
3792 2024-04-22  48145.699219  48146.300781  47628.449219  47924.898438
3804 2024-05-09  47976.351562  48258.648438  47440.648438  47487.898438
3814 2024-05-24  48668.000000  49052.949219  48644.800781  48971.648438
3822 2024-06-05  47486.601562  49362.898438  46446.800781  49054.601562
3823 2024-06-06  49426.398438  49672.750000  48906.750000  49291.898438

       Return%    MovingAvg7   MovingAvg14   MovingAvg30  Signal  \
30   -0.739934   8430.171666   8212.496512   7957.411686       1
65   -0.418685   9688.178711   9629.985700   9363.846680      -1
68    2.003967   9473.371512   9660.257185   9425.165007       1
86   -7.196688  10158.985770  10215.546387   9948.063314      -1
92   -3.355929   9334.028599   9834.214286   9840.314974       1
...        ...           ...           ...           ...     ...
3792  0.737270  47911.099888  47999.410714  47456.018229       1
3804 -1.110352  48605.857701  48429.967913  48062.891797      -1
3814  0.416348  48192.935268  48076.775112  48233.798438       1
3822  4.530286  48896.136161  48658.417969  48482.015234      -1
3823  0.483740  48917.529018  48752.335658  48526.063542       1

             Entry Entry Date          Exit  Exit Date
30     9024.549805 2007-10-30   9363.950195 2007-12-19
65     9363.950195 2007-12-19   9545.700195 2007-12-26
68     9545.700195 2007-12-26   9671.400391 2008-01-21
86     9671.400391 2008-01-21   9933.200195 2008-01-29
92     9933.200195 2008-01-29   9635.349609 2008-01-30
...            ...        ...           ...        ...
3792  48145.699219 2024-04-22  47976.351562 2024-05-09
3804  47976.351562 2024-05-09  48668.000000 2024-05-24
3814  48668.000000 2024-05-24  47486.601562 2024-06-05
3822  47486.601562 2024-06-05  49426.398438 2024-06-06
3823  49426.398438 2024-06-06  51657.648438 2024-07-24

[311 rows x 14 columns]

In [65]:
data[data['Entry'].notna()]

,Date,Open,High,Low,Close,Return%,MovingAvg7,MovingAvg14,MovingAvg30,Signal,Entry,Entry Date,Exit,Exit Date
30,2007-10-30,9024.549805,9237.799805,8832.500000,8934.150391,-0.739934,8430.171666,8212.496512,7957.411686,1,9024.549805,2007-10-30,9363.950195,2007-12-19
65,2007-12-19,9363.950195,9446.000000,9125.450195,9240.349609,-0.418685,9688.178711,9629.985700,9363.846680,-1,9363.950195,2007-12-19,9545.700195,2007-12-26
68,2007-12-26,9545.700195,9772.000000,9545.700195,9755.200195,2.003967,9473.371512,9660.257185,9425.165007,1,9545.700195,2007-12-26,9671.400391,2008-01-21
86,2008-01-21,9671.400391,9701.099609,8504.650391,9038.950195,-7.196688,10158.985770,10215.546387,9948.063314,-1,9671.400391,2008-01-21,9933.200195,2008-01-29
92,2008-01-29,9933.200195,10113.349609,9420.750000,9569.599609,-3.355929,9334.028599,9834.214286,9840.314974,1,9933.200195,2008-01-29,9635.349609,2008-01-30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3804,2024-05-09,47976.351562,48258.648438,47440.648438,47487.898438,-1.110352,48605.857701,48429.967913,48062.891797,-1,47976.351562,2024-05-09,48668.000000,2024-05-24
3814,2024-05-24,48668.000000,49052.949219,48644.800781,48971.648438,0.416348,48192.935268,48076.775112,48233.798438,1,48668.000000,2024-05-24,47486.601562,2024-06-05
3822,2024-06-05,47486.601562,49362.898438,46446.800781,49054.601562,4.530286,48896.136161,48658.417969,48482.015234,-1,47486.601562,2024-06-05,49426.398438,2024-06-06
3823,2024-06-06,49426.398438,49672.750000,48906.750000,49291.898438,0.483740,48917.529018,48752.335658,48526.063542,1,49426.398438,2024-06-06,51657.648438,2024-07-24
3855,2024-07-24,51657.648438,51944.648438,50784.250000,51317.000000,-0.890915,52159.242746,52329.442801,51917.050000,-1,51657.648438,2024-07-24,NaN,NaT

In [66]:
data.loc[129]

Date           2008-03-25 00:00:00
Open                       6804.25
High                        7188.5
Low                        6804.25
Close                  7147.149902
Return%                   7.725406
MovingAvg7             6755.421387
MovingAvg14            7135.639265
MovingAvg30            8063.818278
Signal                          -1
Entry                          NaN
Entry Date                     NaT
Exit                           NaN
Exit Date                      NaT
Name: 129, dtype: object

In [67]:
# To calculate percentage return after every trade
for i in range(len(data)):

    if data.loc[i, 'Exit'] != np.nan:
        perc_ret_buy = ((data.loc[i, 'Exit'] - data.loc[i, 'Entry'])/data.loc[i, 'Entry']) * 100
        perc_ret_sell = ((data.loc[i, 'Entry'] - data.loc[i, 'Exit'])/data.loc[i, 'Entry']) * 100
        if data.loc[i, 'Signal'] == 1:
                data.loc[i, 'PercRet'] = perc_ret_buy

        elif data.loc[i, 'Signal'] == -1:
            data.loc[i, 'PercRet'] = perc_ret_sell

data

,Date,Open,High,Low,Close,Return%,MovingAvg7,MovingAvg14,MovingAvg30,Signal,Entry,Entry Date,Exit,Exit Date,PercRet
0,2007-09-17,6898.000000,6977.200195,6843.000000,6897.100098,NaN,NaN,NaN,NaN,0,NaN,NaT,NaN,NaT,NaN
1,2007-09-18,6921.149902,7078.950195,6883.600098,7059.649902,2.356785,NaN,NaN,NaN,0,NaN,NaT,NaN,NaT,NaN
2,2007-09-19,7111.000000,7419.350098,7111.000000,7401.850098,4.847269,NaN,NaN,NaN,0,NaN,NaT,NaN,NaT,NaN
3,2007-09-20,7404.950195,7462.899902,7343.600098,7390.149902,-0.158071,NaN,NaN,NaN,0,NaN,NaT,NaN,NaT,NaN
4,2007-09-21,7378.299805,7506.350098,7367.149902,7464.500000,1.006070,NaN,NaN,NaN,0,NaN,NaT,NaN,NaT,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3859,2024-07-30,51383.898438,51957.750000,51260.050781,51499.300781,0.181011,51495.135603,51924.556920,52105.073307,-1,NaN,NaT,NaN,NaT,NaN
3860,2024-07-31,51583.449219,51663.101562,51335.699219,51553.398438,0.105045,51391.278460,51879.135324,52142.156641,-1,NaN,NaT,NaN,NaT,NaN
3861,2024-08-01,51672.601562,51877.148438,51456.199219,51564.000000,0.020564,51360.664062,51828.660435,52147.688281,-1,NaN,NaT,NaN,NaT,NaN
3862,2024-08-02,51172.250000,51608.699219,51087.851562,51350.148438,-0.414730,51365.399554,51762.321150,52133.251563,-1,NaN,NaT,NaN,NaT,NaN
3863,2024-08-05,50586.250000,50747.550781,49719.101562,50092.101562,-2.449938,51251.592634,51593.478516,52080.939974,0,NaN,NaT,NaN,NaT,NaN

In [68]:
data[data['PercRet'].notna()][-10:]

,Date,Open,High,Low,Close,Return%,MovingAvg7,MovingAvg14,MovingAvg30,Signal,Entry,Entry Date,Exit,Exit Date,PercRet
3773,2024-03-20,46392.898438,46655.550781,45828.800781,46310.898438,-0.159324,46702.763951,47035.235491,46550.633203,-1,46392.898438,2024-03-20,46634.898438,2024-03-22,-0.521632
3775,2024-03-22,46634.898438,46974.148438,46566.800781,46863.750000,0.383104,46600.613839,47045.296317,46618.611458,1,46634.898438,2024-03-22,46643.449219,2024-03-27,0.018336
3777,2024-03-27,46643.449219,46956.101562,46643.449219,46785.949219,0.398603,46600.913504,46927.371094,46709.931380,-1,46643.449219,2024-03-27,46827.851562,2024-03-28,-0.395345
3778,2024-03-28,46827.851562,47440.449219,46827.851562,47124.601562,0.723833,46679.299665,46867.314174,46784.676432,1,46827.851562,2024-03-28,46744.949219,2024-04-19,-0.177036
3791,2024-04-19,46744.949219,47668.699219,46579.050781,47574.148438,1.072244,48026.193080,47942.246652,47440.391667,-1,46744.949219,2024-04-19,48145.699219,2024-04-22,-2.996580
3792,2024-04-22,48145.699219,48146.300781,47628.449219,47924.898438,0.737270,47911.099888,47999.410714,47456.018229,1,48145.699219,2024-04-22,47976.351562,2024-05-09,-0.351740
3804,2024-05-09,47976.351562,48258.648438,47440.648438,47487.898438,-1.110352,48605.857701,48429.967913,48062.891797,-1,47976.351562,2024-05-09,48668.000000,2024-05-24,-1.441645
3814,2024-05-24,48668.000000,49052.949219,48644.800781,48971.648438,0.416348,48192.935268,48076.775112,48233.798438,1,48668.000000,2024-05-24,47486.601562,2024-06-05,-2.427465
3822,2024-06-05,47486.601562,49362.898438,46446.800781,49054.601562,4.530286,48896.136161,48658.417969,48482.015234,-1,47486.601562,2024-06-05,49426.398438,2024-06-06,-4.084935
3823,2024-06-06,49426.398438,49672.750000,48906.750000,49291.898438,0.483740,48917.529018,48752.335658,48526.063542,1,49426.398438,2024-06-06,51657.648438,2024-07-24,4.514288

In [70]:
data['Year'] = data['Date'].dt.year
annual_returns = data.groupby('Year')['PercRet'].sum()
print(f"Every Year Annual Returns:\n{annual_returns}")
print(f"Total Returns from year 2007 to 2024: {annual_returns.sum()}%")

Every Year Annual Returns:
Year
2007     3.136728
2008    38.913582
2009    69.399487
2010     9.452351
2011    10.627469
2012    -5.851967
2013    17.840844
2014    30.588432
2015   -29.153194
2016    30.169890
2017   -10.700984
2018    19.238035
2019   -11.331677
2020    59.336461
2021     2.885977
2022    -1.490742
2023     4.252830
2024   -11.524979
Name: PercRet, dtype: float64
Total Returns from year 2007 to 2024: 225.78854054885466%

In [71]:
data[(data['Year'] == 2009) & (data['PercRet'].notna())]

,Date,Open,High,Low,Close,Return%,MovingAvg7,MovingAvg14,MovingAvg30,Signal,Entry,Entry Date,Exit,Exit Date,PercRet,Year
323,2009-01-13,4700.250000,4764.149902,4605.649902,4661.700195,-0.772665,5028.678571,4988.071463,4748.586654,-1,4700.250000,2009-01-13,4538.600098,2009-02-16,3.439177,2009
346,2009-02-16,4538.600098,4551.750000,4333.899902,4351.450195,-4.695728,4457.057129,4381.185686,4537.424967,1,4538.600098,2009-02-16,4303.399902,2009-02-17,-5.182219,2009
347,2009-02-17,4303.399902,4303.399902,4145.049805,4164.299805,-4.300874,4432.792829,4368.628523,4503.064958,-1,4303.399902,2009-02-17,4016.250000,2009-03-24,6.672629,2009
369,2009-03-24,4016.250000,4184.649902,3982.800049,4008.050049,1.604666,3788.135672,3646.957136,3924.263314,1,4016.250000,2009-03-24,7007.200195,2009-07-07,74.471216,2009
438,2009-07-07,7007.200195,7087.450195,6873.750000,6952.600098,0.088533,7309.014369,7244.142857,7245.545003,-1,7007.200195,2009-07-07,7273.950195,2009-07-20,-3.806799,2009
447,2009-07-20,7273.950195,7546.350098,7239.399902,7530.200195,4.137026,6917.235700,7005.057164,7115.656673,1,7273.950195,2009-07-20,7161.250000,2009-08-11,-1.549367,2009
463,2009-08-11,7161.250000,7290.350098,7129.000000,7218.250000,0.813547,7424.992815,7407.399972,7217.811654,-1,7161.250000,2009-08-11,7144.049805,2009-08-12,0.240184,2009
464,2009-08-12,7144.049805,7198.799805,6988.549805,7172.049805,-0.640047,7356.699916,7385.867815,7208.459977,1,7144.049805,2009-08-12,7293.399902,2009-08-13,2.090552,2009
465,2009-08-13,7293.399902,7489.250000,7293.399902,7472.399902,4.187786,7335.928502,7392.071394,7210.941634,-1,7293.399902,2009-08-13,7502.950195,2009-08-14,-2.873150,2009
466,2009-08-14,7502.950195,7502.950195,7373.350098,7418.950195,-0.715295,7308.992815,7393.521415,7206.038314,1,7502.950195,2009-08-14,7111.200195,2009-08-18,-5.221279,2009
468,2009-08-18,7111.200195,7291.899902,7098.649902,7207.250000,1.441268,7250.535714,7377.474993,7219.806641,-1,7111.200195,2009-08-18,7249.799805,2009-08-21,-1.949033,2009
471,2009-08-21,7249.799805,7404.700195,7145.850098,7377.100098,1.596154,7278.350098,7317.525007,7282.803320,1,7249.799805,2009-08-21,7358.000000,2009-09-03,1.492458,2009
480,2009-09-03,7358.000000,7423.399902,7324.700195,7351.000000,0.156007,7397.971401,7341.057164,7368.943327,-1,7358.000000,2009-09-03,7503.149902,2009-09-07,-1.972681,2009
482,2009-09-07,7503.149902,7662.750000,7495.399902,7650.649902,2.773990,7439.514230,7396.964286,7379.296663,1,7503.149902,2009-09-07,8541.650391,2009-10-29,13.840860,2009
515,2009-10-29,8541.650391,8552.750000,8370.150391,8417.849609,-2.221487,8901.592634,9018.299874,8726.699951,-1,8541.650391,2009-10-29,9182.000000,2009-11-10,-7.496790,2009
522,2009-11-10,9182.000000,9267.450195,9124.000000,9179.500000,0.459644,8682.678571,8792.135603,8828.036621,1,9182.000000,2009-11-10,9121.700195,2009-11-30,-0.656718,2009
536,2009-11-30,9121.700195,9137.750000,8989.000000,9046.950195,1.139182,9157.657227,9179.510742,9020.204980,-1,9121.700195,2009-11-30,9056.049805,2009-12-01,0.719717,2009
537,2009-12-01,9056.049805,9260.700195,9056.049805,9250.950195,2.254904,9162.214425,9173.321498,9011.013314,1,9056.049805,2009-12-01,8994.849609,2009-12-15,-0.675793,2009
547,2009-12-15,8994.849609,9027.400391,8715.299805,8734.450195,-2.915495,9092.299944,9133.875000,9113.748340,-1,8994.849609,2009-12-15,9191.250000,2010-01-05,-2.183476,2009

## Looks Like the strategy performed decent in this dataset